/* You can add global styles to this file, and also import other style files */
:root {
    --color-1: #00005f;
    --color-2: #ff6505;
    --color-3: #000000;
    --color-4: #FFFFFF;
    --color-5: #181818;
    --color-6: #f23030;
    --color-7: #1ed760;
    --font-size-1: 1rem;
    --font-size-2: 1.2rem;
    --font-size-3: 1.8rem;
    --shadow-1: rgb(0 0 0 / 35%) 0px 8px 24px;
    --shadow-2: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --border-radius-1: .25rem;
    --border-radius-2: .5rem;
    --font-family-1: 'Poppins', sans-serif;
    --animation-1: 200ms;
    --box-sizing: border-box;
    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;
}

.toolbar {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20%;
    display: flex;
    align-items: center;
    background-color: var(--color-4);
    color: var(--color-5);
    font-weight: 600;
}

.toolbar img {
    margin: 2%;
    width: 20%;
}

.content {
    background-color: var(--color-5);
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    height: 80%;
    color: var(--color-4);
    overflow-y: scroll;
}

.contents {
    padding-left: 25px;
    padding-right: 25px;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    height: 80%;
    overflow: scroll;
}

.tool-header {
    padding: 24px;
}

#dropArea {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    margin-bottom: 12px;
    letter-spacing: 0;
    min-height: 100%;
    position: absolute;
    z-index: 9999;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--color-3);
    opacity: .8;
    color: var(--color-4);
    align-items: center;
    justify-content: center;
  }

.uploader, .file-list-wrapper {
    position: relative;
    border-radius: var(--border-radius-2);
    text-align: center;
    display: table
}

.uploader__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    box-sizing: border-box;
    padding: 24px 56px;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    vertical-align: middle;
    color: var(--color-4);
    position: relative;
    z-index: 1;
    background-color: var(--color-2);
    text-decoration: none;
    margin-bottom: 12px;
    border-radius: 8px;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,.14);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.14);
    -ms-flex-order: 1;
    order: 1;
    max-width: 60vw;
    cursor: pointer;
}

.uploader__btn:hover{
    background-color: var(--color-2);
    opacity: .8;
}

.uploader__droptxt {
   -ms-flex: 0 0 100%;
   flex: 0 0 100%;
}

.tool_work-area {
    margin: 0 auto;
    display: flex;
    -moz-box-pack: start;
    justify-content:center;
    -moz-box-flex: 1;
    flex-direction: row;
    min-height: 50%;
    width: 95%;
    text-align: center;
    padding: 5%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex: 1 1;
    flex: 1 1;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    align-items: center;

    border: dotted;
    border-radius: var(--border-radius-2);
}

.file {
    display: inline-block;
    margin: 10px;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: var(--border-radius-2);
    border-width: 1px;
    opacity: 1;
}

.file-img {
    display: inline-block;
    text-align: center;
}

.file-img a {
    min-width: 100px;
    min-height: 100px;
}

.resumer {
    text-align: right;
    padding-right: 45px;
    padding-top: 18px;
    margin-bottom: 50px;
}

.resumer__btn {
    display: inline-flex;
    min-height: px;
    padding: 10px 50px;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    color: var(--color-4);
    background-color: var(--color-7);
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.14);
    max-width: 60vw;
    cursor: pointer;
}

.resumer__btn:hover{
    background-color: var(--color-7);
    opacity: .8;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(235,235,235);
  }
  
  td {
    text-align: center;
  }
  
  tr:nth-child(even) td {
    background-color: rgb(250,250,250);
  }
  
  tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
  }


html,
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-1);
    font-size: var(--font-size-1);
    color: var(--color-5);
}

input,
button {
    cursor: pointer;
    font-family: var(--font-family-1);
}

button:disabled {
    opacity: .5;
}

footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }